<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>16.0f2</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>5</NumElts>
<DAQChannel>
<Name>DAQmx Channel</Name>
<Val>DAQ/ai0:2</Val>
</DAQChannel>
<DBL>
<Name>Max Input</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>Min Input</Name>
<Val>-1.00000000000000</Val>
</DBL>
<DBL>
<Name>Sample Rate</Name>
<Val>10000.00000000000000</Val>
</DBL>
<String>
<Name>Channel description</Name>
<Val></Val>
</String>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>4</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\Valelab\Desktop\Users\jmsung\Data\TrapData\Test\test.tdms</Val>
</Path>
<Refnum>
<Name>TDMS File Reference</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
<String>
<Name>User</Name>
<Val></Val>
</String>
<String>
<Name>Data description</Name>
<Val></Val>
</String>
</Cluster>
</Cluster>
</LVData>