<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>16.0f2</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>3</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>5</NumElts>
<DAQChannel>
<Name>DAQmx Input</Name>
<Val>DAQ/ai0:5</Val>
</DAQChannel>
<DBL>
<Name>Max Input</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>Min Input</Name>
<Val>-1.00000000000000</Val>
</DBL>
<DBL>
<Name>Sample Rate</Name>
<Val>100000.00000000000000</Val>
</DBL>
<Refnum>
<Name>DAQmx Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>5</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\Valelab\Desktop\Users\jmsung\Data\TrapData\17-03-29 Calibration\Cal.tdms</Val>
</Path>
<Refnum>
<Name>TDMS File Reference</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
<Array>
<Name>Channel names</Name>
<Dimsize>0</Dimsize>
<String>
<Name>String</Name>
<Val></Val>
</String>
</Array>
<String>
<Name>Author</Name>
<Val>Jongmin</Val>
</String>
<String>
<Name>Description</Name>
<Val>Test</Val>
</String>
</Cluster>
<Cluster>
<Name>PZT Configuration </Name>
<NumElts>8</NumElts>
<DAQChannel>
<Name>DAQmx Output</Name>
<Val>DAQ/ao0:2</Val>
</DAQChannel>
<DBL>
<Name>PZTX</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>PZTY</Name>
<Val>2.00000000000000</Val>
</DBL>
<DBL>
<Name>PZTZ</Name>
<Val>3.00000000000000</Val>
</DBL>
<EW>
<Name>Waveform Type</Name>
<Choice>Sine Wave</Choice>
<Choice>Triangle Wave</Choice>
<Choice>Square Wave</Choice>
<Choice>Sawtooth Wave</Choice>
<Val>0</Val>
</EW>
<DBL>
<Name>PZT_Amp</Name>
<Val>2.00000000000000</Val>
</DBL>
<DBL>
<Name>PZT_Freq</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>PZT_Phase</Name>
<Val>3.00000000000000</Val>
</DBL>
</Cluster>
</Cluster>
</LVData>