<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>17.0f2</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>5</NumElts>
<DAQChannel>
<Name>DAQmx Input</Name>
<Val>DAQ/ai0, DAQ/ai8, DAQ/ai1, DAQ/ai9, DAQ/ai2, DAQ/ai10, DAQ/ai3, DAQ/ai11, DAQ/ai4, DAQ/ai12, DAQ/ai5, DAQ/ai13, DAQ/ai6, DAQ/ai14, DAQ/ai7, DAQ/ai15, DAQ/ai16, DAQ/ai24, DAQ/ai17, DAQ/ai25,  DAQ/ai18, DAQ/ai26, DAQ/ai19, DAQ/ai27, DAQ/ai20, DAQ/ai28, DAQ/ai21, DAQ/ai29, DAQ/ai22, DAQ/ai30, DAQ/ai23, DAQ/ai31</Val>
</DAQChannel>
<DBL>
<Name>Max Input</Name>
<Val>10.00000000000000</Val>
</DBL>
<DBL>
<Name>Min Input</Name>
<Val>-10.00000000000000</Val>
</DBL>
<DBL>
<Name>Sample Rate</Name>
<Val>100.00000000000000</Val>
</DBL>
<Refnum>
<Name>DAQmx Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>5</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\Valelab\Desktop\Users\jmsung\Data\TrapData\Test\Trap test.tdms</Val>
</Path>
<Refnum>
<Name>TDMS File Reference</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
<Array>
<Name>Channel names</Name>
<Dimsize>16</Dimsize>
<String>
<Name>String</Name>
<Val>Ch0_B1X</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch1_B1Y</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch2_B1S</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch3_B2X</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch4_B2Y</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch5_B2S</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch6_TrapPower</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch7_Blank</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch8_PZTX</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch9_PZTY</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch10_PZTZ</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch11_MTA1X</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch12_MTA1Y</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch13_MTA2X</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch14_MTA2Y</Val>
</String>
<String>
<Name>String</Name>
<Val>Ch15_Blank</Val>
</String>
</Array>
<String>
<Name>Author</Name>
<Val>Jongmin</Val>
</String>
<String>
<Name>Description</Name>
<Val>Trap test</Val>
</String>
</Cluster>
</Cluster>
</LVData>